@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>KJT Sistemas é uma empresa de TI que está continuamente comprometida em fornecer serviços e 
  suporte de TI, utilizando as melhores tecnologia e práticas disponíveis no mercado. .</p>
