@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        <img src="~/Marca_IFSP.png" width="400" alt="Logo IFSP"/>
    </p>
    <!-- <h2>INSTITUTO FEDERAL DE SÃO PAULO</h2> -->
    <p class="lead">
        Esta é uma ferramenta destinada à servidores do IFSP para cadastro de dados
        relacionados à cursos, disciplinas, professores e departamentos do IFSP.
    </p>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Gerenciamento de Dados</h2>
            <p>Esta aplicação possui funcionalidades para consulta, inserção, alteração e exclusão de registros.</p>
            <p>De modo prático, simples e rápido é possível realizar consultas, inserções, alterações e exclusões de dados nos registros.</p>
            <p>Os dados são armazenados de forma segura e consistente em um exclusivo banco de dados do sistema.</p>
        </div>

        <div class="col-md-4">
            <h2>Recursos de Dados Disponíveis</h2>

            <h4>Registros de Cursos</h4>
            <p>Dados de descrição, departamento e disciplinas de um determinado curso.</p>

            <h4>Registros de Disciplinas</h4>
            <p>Dados de descrição, créditos, curso e professor de uma determinada disciplina.</p>

            <h4>Registros de Professores</h4>
            <p>Dados de nome, endereço, telefone, email e disciplinas de um determinado professor.</p>

            <h4>Registros de Departamentos</h4>
            <p>Dados de descrição e curso de um determinado departamento.</p>
        </div>
    </div>
